body {
    background: linear-gradient(to right, #2c5364, #203a43);
}

.App {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.Card {
    background: #fff;
    padding: 3rem 5rem;
    margin: 2rem;
    position: sticky;
}

.card-h2 {
    text-align: center;
}

.Card p {
    padding-top: 1rem;
    line-height: 150%;
}

.expand {
    height: 10rem;
    width: 15rem;
}

.card-img {
    position: sticky;
}