.home-section {
    color: #000000;
    padding: 160px 0;;
}

.milkBg {
    background-color: #f4e0a0;
}

.creamBg {
    background-color: #bc9a64;
}

.home__hero-row {
    align-items: center;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
}

.col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}


.home-hero-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

.top-line {
    /* color: #f00946; */
    font-size: 1rem;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.heading {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    /* color: #000; */
}

.home-hero-subtitle {
    max-width: 440px;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.home-hero-img-wrapper {
    max-width: 555px;
}

.home-hero-img {
    max-width: 95%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 1rem;
    padding-right: 0;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width: 991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .home-hero-img-wrapper {
        padding-bottom: 65px;
    }

    .col {
        max-width: 100%;
        flex-basis: 100%;
    }
}
