.home-section {
    background: rgba(255, 255, 255);
    color: #000;
    padding-top: 400px;
    padding-bottom: 400px;
    background-image: url('/public/images/backgroundtwo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.7;
}

.hero-heading {
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
    /* position: relative; */
    vertical-align: text-top;
}

@media screen and (max-width: 991px) {
    
}

@media screen and (max-width: 768px) {
    .home-hero-img-wrapper {
        padding-bottom: 65px;
    }

    .col {
        max-width: 100%;
        flex-basis: 100%;
    }
}
