.navbar {
    background: #007c91;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.navbar-name {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #eeeeee;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
}

.navbar-icon {
    margin-right: 1rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.nav-links {
    color: #eeeeee;
    text-decoration: none;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 100%;
}

.nav-links:hover {
    color: black;
    transition: all 0.3s ease;
    border-bottom: 1px solid #fff;
}

.menu-icon {
    display: none;
}

@media screen and (max-width:768px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #007c91;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: black;
        transform: scale(1.2);
        transition: all 0.3s ease;
        border: none;
    }

    .navbar-name {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        color: #eeeeee;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
    }
}

