.navbar {
    height: 80px;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background: #343434;
    border-bottom: #616161 2px solid;
    box-shadow:  0px 10px 14px -14px #000;
}

.navbar-container {
    display: flex;
    height: 80px;
    z-index: 1;
}

.navbar-name {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    justify-self: start;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}

.navbar-img {
    display: block;
    margin-left: 3rem;
    margin-right: 2rem;
    width: 10%;
}

.nav-menu {
    display: flex;
    margin-right: 6rem;
    align-items: center;
    list-style: none;
    
}

.nav-links {
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
    transition: all ease-in 0s;
}

.menu-icon {
    display: none;
}

.cart-icon {
    cursor: pointer;
    padding: 1rem 1.5rem;
    color: #fff;
    font-size: 1.7rem;
}

.nav-links:hover,
.cart-icon:hover {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    opacity: 0.6;
}

@media screen and (max-width:768px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.7s ease-out;
    }

    .nav-menu.active {
        background: linear-gradient(to right, #2c5364, #203a43);;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
        z-index: 1;
    }

    .navbar-photo {
       width: 70%;
       transform: translate(5%, -25%);
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: black;
        transform: scale(1.2);
        transition: all 0.3s ease;
        border: none;
    }

    .navbar-name {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(5%, 25%);
    }

    .navbar-img {
        display: visible;
    }

    .menu-icon {
        display: block;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
    }
}


