.search-input {
    font-size: 3rem;
    transform: translate(0%, 70%);
    border-radius: 45px;
    text-align: end;
    padding-right: 1rem;
    border: 1px solid #616161;
    font-family: 'Roboto', sans-serif;
}